@charset "utf-8";

@import "../core/grid";
@import "../core/helpers";
@import "../core/base";
@import "../modules/headings";
@import "../modules/icons";
@import "../modules/buttons";

/*
Menu

メニュー領域のデザイン。

Style Guide: components.menu
*/
%navigation {
  $logo-background: rgb(125, 124, 121);
  $logo-height: modular-scale(2);

  @include outer-container;

  @extend %title-typography;
  @include background($light-heading-background);

  .logo {
    @include modular-pad(-2);
    @include background($logo-background);

    @extend %block-anchor;
    @extend %align-center;

    .logo-img {
      height: $logo-height;
      vertical-align: top;
    }
  }

  .add-task {

    @include modular-pad(-1 null);
    @extend %align-center;

    .add-task-button {
      @extend %primary-button;

    }
  }

  .menu {
    @extend %block-anchor;

    .menu-title {
      @include display(none)
    }

    .menu-item {

      .menu-item-title {
        @include modular-pad(-2 -2);
        @extend %dark-heading;
        border-top: $dark-border;
      }

      .menu-sub-item {
        @include modular-pad(-2 -2 -2 0);
        @extend %light-heading;
      }

      .menu-sub-item.selected {
        padding-left: modular-scale(0);
        border-left: $success-color modular-scale(-2) solid;
      }

      .task-count {
        @include icon-label($main-color);
        display: inline-block;
        float: right;
      }
    }
  }

  .others {
    text-align: right;
    i {
      @include modular-margin(-2);
      font-size: modular-scale(1);
    }
  }
}
