@charset "utf-8";

@import "../core/grid";
@import "../core/helpers";
@import "../core/settings";
@import "../core/base";
@import "../core/content";
@import "../modules/headings";

%task-list {

  @include outer-container;
  border-right: $light-border;


  .title {
    @include modular-pad(null -2);

    @extend %title-typography;

    @extend %light-heading;
  }

  .task-item {
    @include modular-pad(-1);
    border-bottom: $dark-border;

    .task-subject {
      font-weight: normal;
      border-bottom: $light-border;
    }

    .task-properties {
      text-align: right;
      font-size: $small-font-size;
      font-weight: lighter;

      .task-assignee {
        float: left;
      }
    }

    .task-desc {
      font-size: $small-font-size;
      font-weight: lighter;
    }
  }
}
