@charset "utf-8";

@import "../core/settings";
@import "../core/helpers";

%primary-button {
  @include background($alert-color);
  @include modular-pad(-2 0);
  @extend %align-center;
  color: $icon-label-font-color;
  font-weight: bold;
  border-radius: modular-scale(-2);
}

/*
Buttons

Your standard button suitable for clicking.

:hover     - Highlights when hovering.
.primary   - Primary button.
.secondary - Secondary button

Markup:
<button class="button {{modifier_class}}" style="width:100%">button</button>
<a class="button {{modifier_class}}" style="width:100%">a</button>
<div class="button {{modifier_class}}" style="width:100%">div</button>

Style guide: modules.button
*/
//.button {
//  /* Structure */
//  //display: inline-block;
//  zoom: 1;
//  line-height: normal;
//  white-space: nowrap;
//  vertical-align: middle;
//  text-align: center;
//  cursor: pointer;
//  -webkit-user-drag: none;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//
//  &.primary,
//  &.secondary {
//    -webkit-box-shadow: none;
//    -moz-box-shadow: none;
//    box-shadow: none;
//    border-radius: 20px;
//  }
//
//  &.primary {
//    color: #fff;
//    background: #1b98f8;
//    margin: 1rem 0;
//  }
//
//  &.secondary {
//    background: #fff;
//    border: 1px solid #ddd;
//    color: #666;
//    padding: 0.5rem 2rem;
//    font-size: 80%;
//    margin: 1rem 0;
//  }
//
//  &:hover {
//    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
//    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
//    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
//    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.10));
//    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
//    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
//  }
//
//  &:disabled {
//  }
//}
