@charset "utf-8";

@import "../core/helpers";

%light-heading {
  @include background($light-heading-background);
  color: $light-heading-color;
  border-bottom: $light-border;
}

%dark-heading {
  @include background($dark-heading-background);
  color: $dark-heading-color;
  border-bottom: $dark-border;
}
