@charset "utf-8";

@import "../core/helpers";

@mixin icon-label($background) {
  @include background($background);
  @include modular-pad(null -3);

  color: $icon-label-font-color;
  font-size: $Small-font-size;
  border-radius: modular-scale(-3);
}

%main-icon-label {
  @include icon-label($main-color);
}

%alert-icon-label {
  @include icon-label($alert-color);
}
