@charset "utf-8";

@import "../modules/headings";

.modal-overlay {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgba($light-heading-background , .9);
  text-shadow: 0 1px 0 #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  z-index: 1000;
}

.modal-body {
  position: fixed;
  top: 10%;
  left: 20%;
  width: 60%;
  z-index: 2000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;

  .modal-heading {
    margin-top: 0;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 20px;

    h2 {
      margin: 0;
    }
  }

  .modal-content {
    .form-container {
      background-color: #ffffff;
      padding: 20px;
      margin: 0;
    }

    .buttons-container {
      background-color: #f0f0f0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-top: 1px solid #ccc;
      padding: 10px;
      margin: 0;
      text-align: right;

      .modal-primary-button {
        @extend .pure-button;
        padding: 4px 10px;
        vertical-align: baseline;
        background: rgb(66, 184, 221);
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      }

      a {
        padding: 5px 10px;
        vertical-align: baseline;
        cursor: pointer;
      }
    }
  }
}
