@charset "utf-8";

@import "settings";

$fa-font-path: "../fonts";
@import "../../vendor/font-awesome/scss/font-awesome";
.fa {
  transform: none !important;
}

/*
HTML要素の基本的なスタイルを定義するファイル。

ここで設定する見た目が、デザイン上そのタグの基本的な見た目になる。
*/

/*
html要素の `font-size` を `$base-font-size` に設定して、
`rem` の基準フォントサイズを `$base-font-size` に合わせる。
*/
html {
  font-size: $base-font-size;
}

/*
body要素で、テキストの色やフォント、背景色などの基本的な値を設定しておく。
*/
body {
  color: $text-color;
  background: $base-color;

  font-family: $base-font-family;

  vertical-align: baseline;
  line-height: $base-line-height;
}

/*
pre要素は、等幅フォントで表示するように設定しておく。
*/
pre {
  font-family: $mono-font-family;
}

/*
h1〜h6は、太字ではなくしておく。
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*
a要素で、カーソルがポインタになるように設定しておく。
*/
a {
  cursor: pointer;
}

/*
i要素の周りに少しmarginをとっておく。
*/
i {
  @include margin(null modular-scale(-4) null null);
}

/*
code要素は、等幅フォントで表示するように設定しておく。
*/
code {
  font-family: $mono-font-family;
}

/*
タイトル要素とかに使う Placeholder Selector.

  * Capitalize
  * フォントサイズを小さく
  * 細字に
*/
%title-typography {
  text-transform: uppercase;
  letter-spacing: rem(1);
  font-size: $small-font-size;
  font-weight: lighter;
}
