@charset "utf-8";

@import "../../vendor/neat/app/assets/stylesheets/neat";

/*
Grid

```

Weight: -10

Style Guide: core.grid
*/
$grid-columns: 16;
$full-screen-width: 1280px;
$medium-screen-width: 960px;
$compact-screen-width: 640px;
$narrow-screen-width: 480px;

$horizontal-tablet: new-breakpoint(max-width $full-screen-width - 1, 16);
$vertical-tablet: new-breakpoint(max-width $medium-screen-width - 1, 12);
$horizontal-mobile: new-breakpoint(max-width $compact-screen-width - 1, 8);
$vertical-mobile: new-breakpoint(max-width $narrow-screen-width - 1, 4);
