@charset "utf-8";

@import "settings";

/*
Helpers

* Placeholder selectors
* Functions
* Mix-ins
* Keyframes for animation
*/

/*
子要素のaタグをすべてblockで表示するようにする。

リンクをボタンっぽい感じにするのに使う。
*/
%block-anchor {
  a {
    @include display(block)
  }
}

// テキストとか、画像とかを中央寄せする。
%align-center {
  text-align: center;
  vertical-align: baseline;

  // imgをinline系にしてbaselineに合わせるとずれるから、blockで表示する。
  img {
    @include display(block);
    @include margin(auto);
  }

  // ブロック要素とかも中央寄せするために、margin: autoにしておく。
  & > :not(i) {
    @include margin(auto);
  }
}

@mixin modular-directional-properties($pre, $suf, $values...) {
  // Property Names
  $top: $pre + "-top" + if($suf, "-#{$suf}", "");
  $bottom: $pre + "-bottom" + if($suf, "-#{$suf}", "");
  $left: $pre + "-left" + if($suf, "-#{$suf}", "");
  $right: $pre + "-right" + if($suf, "-#{$suf}", "");
  $all: $pre + if($suf, "-#{$suf}", "");

  $vals: collapse-directionals($values);

  @if contains-falsy($vals) {
    @if nth($vals, 1) {
      #{$top}: modular-scale(nth($vals, 1));
    }

    @if length($vals) == 1 {
      @if nth($vals, 1) {
        #{$right}: modular-scale(nth($vals, 1));
      }
    } @else {
      @if nth($vals, 2) {
        #{$right}: modular-scale(nth($vals, 2));
      }
    }

    @if length($vals) == 2 {
      @if nth($vals, 1) {
        #{$bottom}: modular-scale(nth($vals, 1));
      }
      @if nth($vals, 2) {
        #{$left}: modular-scale(nth($vals, 2));
      }
    } @else if length($vals) == 3 {
      @if nth($vals, 3) {
        #{$bottom}: modular-scale(nth($vals, 3));
      }
      @if nth($vals, 2) {
        #{$left}: modular-scale(nth($vals, 2));
      }
    } @else if length($vals) == 4 {
      @if nth($vals, 3) {
        #{$bottom}: modular-scale(nth($vals, 3));
      }
      @if nth($vals, 4) {
        #{$left}: modular-scale(nth($vals, 4));
      }
    }
  } @else {
    @if length($vals) == 1 {
      #{$all}: modular-scale(nth($vals, 1));
    } @else if length($vals) == 2 {
      #{$all}: modular-scale(nth($vals, 1)) modular-scale(nth($vals, 2));
    } @else if length($vals) == 3 {
      #{$all}: modular-scale(nth($vals, 1)) modular-scale(nth($vals, 2)) modular-scale(nth($vals, 3));
    } @else if length($vals) == 4 {
      #{$all}: modular-scale(nth($vals, 1)) modular-scale(nth($vals, 2)) modular-scale(nth($vals, 3)) modular-scale(nth($vals, 4));
    }
  }
}

@mixin modular-pad($padding...) {
  @include modular-directional-properties(padding, false, $padding...)
}

@mixin modular-margin($margin...) {
  @include modular-directional-properties(margin, false, $margin...)
}
