@charset "utf-8";
@import "components/menu";
@import "components/task-list";
@import "core/grid";
@import "core/content";

/*
Layout

画面全体のレイアウトを設定する。

Weight: 0

Style Guide: layout
*/
.application-container {
  $navigation-columns: 3;
  $task-list-columns: 5;

  @include outer-container(100%);

  .navigation {
    @extend %navigation;
    @include span-columns($navigation-columns);
    @include omega;

    @include position(fixed, 0px null null 0px);

    height: 100%;
    overflow: auto;
  }

  .application-main {
    @include span-columns($grid-columns - $navigation-columns);
    @include calc(margin-left, flex-grid($navigation-columns));

    .task-list {
      @extend %task-list;
      @include span-columns($task-list-columns);
      @include omega;

      height: 100%;
      overflow: auto;
    }
  }
}
